/cat_files.sh
/frontend/node_modules
/frontend/package-lock.json
/backend/.venv
/backend/__pycache__
/backend/logs
/backend/output.txt
/frontend/output.txt
/frontend/.env
/backend/test_file.csv
/backend/test_graph_data.json
.roomodes
Decertation.md
Dissertation.tex
tests
chats.db
